@font-face {
  font-family: 'Outfit';
  src: url('./assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
  font-weight: 400 600 700;
}

@font-face {
  font-family: 'Young Serif';
  src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
  font-weight: 400;
}

:root {
  /* ===== Colors ===== */
  --clr-white: hsl(0, 0%, 100%);

  --clr-stone-100: hsl(30, 54%, 90%);
  --clr-stone-150: hsl(30, 18%, 87%);
  --clr-stone-600: hsl(30, 10%, 34%);
  --clr-stone-900: hsl(24, 5%, 18%);

  --clr-brown-800: hsl(14, 45%, 36%);

  --clr-rose-800: hsl(332, 51%, 32%);
  --clr-rose-50: hsl(330, 100%, 98%);

  /* ===== Typography ===== */
  --fs-body: 1rem;
  /* 16px */

  --ff-heading: 'Young Serif', serif;
  --ff-body: 'Outfit', sans-serif;

  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-bold: 700;

  /* ===== Line Heights (practical defaults) ===== */
  --lh-body: 1.6;
  --lh-heading: 1;
}

/* ============ Global Style ============ */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-body);
  line-height: var(--lh-body);
  color: var(--clr-stone-600);
  font-weight: var(--fw-regular);
  background-color: var(--clr-stone-100);
}

section, ul, ol {
  padding: 0 1.4rem;
}

li::marker {
  font-weight: var(--fw-semibold);
  color: var(--clr-brown-800);
}

li {
  padding-left: 1rem;
  margin-bottom: 8px;
}

img {
  width: 100%;
}

h1, h2 {
  font-family: var(--ff-heading);
  line-height: var(--lh-heading);
  font-weight: var(--fw-regular);
}

strong, h3 {
  font-weight: var(--fw-semibold);
}

/* ============ Conponent ============ */

.container {
  max-width: 692px;
  margin: 0 auto;
  background-color: var(--clr-white);
}

.primary-header {
  color: var(--clr-stone-900);
}

.seconary-header {
  color: var(--clr-brown-800);
  /* font-weight: 400; */
}

.tertiary-header {
  color: var(--clr-rose-800);
}

.margin-b {
  margin-bottom: 1.2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.prep-time {
  background-color: var(--clr-rose-50);
  padding: 1rem 1.5rem;
  border-radius: 12px;
}

.border-b {
  border-bottom: 1px solid var(--clr-stone-150);
  padding-bottom: 12px;
}

.strong-brown {
  color: var(--clr-brown-800);
}

/* ============ Responsive ============ */

@media (min-width: 692px) {
  body {
    padding: 6rem 0;
  }

  section {
    padding: 0;
  }

  img {
    border-radius: 18px;
  }

  .container {
    border-radius: 18px;
    padding: 2rem;
  }
}